body {
  font-family: Arial;
  background: #f1f5f9;
  text-align: center;
}

#map {
  height: 500px;
  margin: 10px;
}

#log {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}
